/*
   CSS-Tricks Example
   by Chris Coyier
   http://css-tricks.com
*/

@font-face{
  font-family: CarterOne;
  src: url(../fonts/CarterOne.ttf) format("truetype"),
        url(../fonts/CarterOne.eot),
        url(../fonts/CarterOne.woff) format("woff"),
        url(../fonts/CarterOne.woff2) format("woff2"),
        url(../fonts/CarterOne.otf);
}
.logo {
    font-family: CarterOne;
}

@media print {
  body * {
    visibility: hidden;
  }
  .invoice_create_screen, .invoice_create_screen * {
    visibility: visible;
  }
  .invoice_create_screen {
    position: fixed;
    left: 0;
    top: 0;
  }
}
* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }
#page-wrap { width: 82%; margin: 0 auto; padding-left: 5px; padding-right: 5px; }

textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
#email textarea { border: solid; font: 14px }
a.delete_file.red-btn {
    padding: 4px 9px;
}
#header { height: 30px; width: 100%; margin: 0px 0 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden;     font-size: 52px;
    color: #bbb; }
/*#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }*/
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#vendor-title { font-size: 20px; font-weight: bold; float: left; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; /*background: #eee;*/ }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; /*border: 1px solid black; */}
#items th { background: #eee; text-align: center; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

.dark { background: #eee;}


#terms { text-align: center; margin: 20px 0 0 0; width: 475px; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; font-weight: bold; text-align: left; }
#terms textarea { width: 100%; }

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#f8f8f8; }
.butt { cursor: pointer; }
.button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;   
}
.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold;  border: 1px solid;     
       padding: 6px 9px;
    top: 54%;
    right: -33px; font-family: Verdana; font-size: 12px;
    text-decoration: none; }



.old_loader {
    position: absolute;
    left: 43%;
    top: 16%;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 10px solid rgba(0, 43, 239, 0.15);
    border-right: 10px solid rgba(0, 26, 239, 0.12);
    border-bottom: 10px solid rgba(0, 32, 250, 0.19);
    border-top: 10px solid #001df6;
    border-radius: 100%;
    z-index: 99999999999999999;
}
.o_popup {
   
    display: none;
        position: fixed;
    top: 35%;
    z-index: 999999999999999999999;
    left: 36%;
    background-color: white;
    border: 1px solid #777;
    width: 400px;
    padding: 10px 12px;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.3);
}

.o_popup_header {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 28px;
    padding-bottom: 8px;
}
.o_popup_content {
    padding-bottom: 21px;
    border-bottom: 1px solid #ccc;
}
.o_popup label {
    font-size: 14px;
    font-weight: normal;
}
input#new_folder_name {
    border-radius: 7px;
    border: 1px solid #888;
    padding: 6px;
    margin-left: 27px;
    font-size: 16px;
}

input.o_popup_btn.btn.navbar-btn.blue-btn {
    display: block;
    margin-top: 30px;
    float: right;
}




.block_screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 999;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


.blue-btn{
  background: rgba(52,86,199,1) !important;
background: -moz-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,86,199,1)), color-stop(54%, rgba(39,80,194,1)), color-stop(100%, rgba(99,99,199,1))) !important;
background: -webkit-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: -o-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
background: linear-gradient(to bottom, rgba(52,86,199,1) 0%, rgba(39,80,194,1) 54%, rgba(99,99,199,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3456c7', endColorstr='#6363c7', GradientType=0 ) !important;
  box-shadow:1px 4px 5px rgba(0,0,0,0.07) !important;
  color: white !important;
  min-width: 100px;
}

.blue-btn:hover{
  box-shadow:2px 5px 5px rgba(0,0,0,0.2) !important;
}
.green-btn{
  background: rgba(106,184,43,1) !important;
background: -moz-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106,184,43,1)), color-stop(47%, rgba(84,140,38,1)), color-stop(100%, rgba(74,133,19,1))) !important;
background: -webkit-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: -o-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
background: linear-gradient(to bottom, rgba(106,184,43,1) 0%, rgba(84,140,38,1) 47%, rgba(74,133,19,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ab82b', endColorstr='#4a8513', GradientType=0 ) !important;
box-shadow:1px 4px 5px rgba(0,0,0,0.07) !important;
  color: white !important;
  min-width: 100px;
}

.green-btn:hover{
  box-shadow:2px 5px 5px rgba(0,0,0,0.2) !important;
}

tr.item-row {
    border-bottom: 1px solid #000;
    text-align: center;
        border-left: 1px solid #000;
}

.item-row td:last-child {
    border-right: 1px solid #000 !important;
}

.red-btn{
  background: rgba(245,5,65,1) !important;
  background: -moz-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,5,65,1)), color-stop(44%, rgba(189,2,46,1)), color-stop(100%, rgba(125,4,32,1))) !important;
  background: -webkit-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: -o-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: -ms-linear-gradient(top, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  background: linear-gradient(to bottom, rgba(245,5,65,1) 0%, rgba(189,2,46,1) 44%, rgba(125,4,32,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f50541', endColorstr='#7d0420', GradientType=0 ) !important;
      color: white;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}


.red-btn:hover{
  text-decoration: none !important;
  color: white !important;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.item-row textarea {
    height: 40px !important;
    border: 1px solid #555;
    text-align: center;
    outline: none;
    border-radius: 7px;
}


.total-value textarea{
      border: 1px solid #555;
    outline: none;
    border-radius: 6px;
    padding: 0px 3px;
    overflow-y: hidden;
    text-align: left;
}

pre{
  background-color: transparent !important;
  border: none !important;

}

#meta td.meta-head{
  font-weight: bold;
  float: right;
}
#meta td{
  border: none !important;
}

#meta textarea {
    height: 40px !important;
    border: 1px solid #555;
    text-align: center;
    outline: none;
    width: 100px;
    border-radius: 7px;
    width: 129px !important;
    height: 35px !important;
    text-align: center !important;
    overflow: hidden;
}

.due{
  text-align: center;
      display: inline;
}

input#datepicker {
    border: 1px solid #555;
    border-radius: 6px;
    height: 32px;
    width: 131px;
    text-align: center;
}

div#note {
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.invoice_table {
    position: relative;
}

textarea#note_edit {
    border: 1px solid #555;
    padding: 2px;
    width: 307px;
    height: 140px;
}

.setting_screen{
    width: 80%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 6px;
}
span.setting_heading {
    display: block;
    margin-bottom: 12px;
    font-size: 21px;
    font-weight: bold;
    color: #777;
}
.setting_text {
    border: 1px solid #555;
    border-radius: 5px;
    margin-left: 15px;
    width: 340px;
    height: 145px;
    padding: 2px;
    margin-bottom: 35px;
}

/*Css by Geek*/

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#formContent input[type=text],#formContent input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:15%;
}

.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }

.homearea h2{
  color: #fff;
}

.my-auto{
  margin-top: auto;
margin-bottom: auto;
}
#newCustomer input[type=text]{
  width: 100%;
  text-align:left;
}
#newCustomer{
  color:rgb(120, 120, 120);
}
label.error {
    float: left;
    color: red;
}
div#home_screen {
    margin: 50px;
}

@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}



input#load_customer_data {
    width: 120px;
}

.body_img{
  background-image: url("../img/2.jpg");
  background-size: cover;
}

.sidebar_nav{
    border: 1px dashed #fafdff;
    padding-left: 11px !important;
    border-left: none;
    width: 200px !important;
    margin-right: 20px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.btn-primary {
    padding: 9px 9px !important;
    font-weight: bold !important;
    margin-bottom: 11px !important;
}

#customerList tr td:last-child {
    width: 13%;
}

#customerList button#dLabel {
    width: auto;
    padding: 5px;
    background: #337ab7;
    border: solid 1px #337ab7;
    color: #fff;
    height: auto;
    line-height: normal;
    border-radius: 5px;
}

#customerList ul.dropdown-menu {
    width: auto;
    min-width: auto;
    padding: 0;
}

#customerList ul.dropdown-menu button.btn.btn-primary {
    color: #333;
    background: #f4f4f4;
    border: none;
    width: 100%;
    margin: 0px !important;
    text-align: left;
}

#dashboardScreen .table-responsive {
    min-height: 300px;
}
#customerList_wrapper .dt-buttons {
    text-align: right;
    margin-bottom: 10px;
}

span#sendotpMsg, span#otpMsg,img.custLoader {
    float: right;
    color: green;
    font-size: 16px;
    font-weight: 700;
    margin-right: 50px;
    padding: 10px 0;
}
#sendOTP{
  background-color: #39ace7; 
}
.sidebar_nav button.btn {
    width: 100%;
    display: block;
    text-align: left;
}

.main-dashboard:After {
    content: "";
    display: block;
    clear: both;
}

.copy-right-section {
    padding: 15px;
    margin: 10px 0px;
    background: #f4f4f4;
}

.copy-right-section p {
    margin: 0px;
    color: #999;
    font-size: 12px;
}

.logo img {
    width: 100%;
    background-color: #FFF;
}

.logo {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.inner-content {
    min-height: 75vh;
}

 .dt-buttons {
    text-align: right;
    margin-bottom: 10px;
}
 .dt-buttons button.dt-button {
    background: #f4f4f4;
    padding: 5px;
    border: solid 1px #ddd;
    border-radius: 3px;
}
#adminLogin #submit {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}